<html>
    <head>
        <title>Login/Registration</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'bookreview_app/css/styles.css' %}?{% now 'U' %}" />
    </head>
    <body>

        <div id="container">
            <div id="header_1">
                <h1>Welcome, {{user.first_name}}!</h1>
            </div>
            <div id="header_2">
                <form action="/add" id="add_book" method="GET" class="links">
                    {% csrf_token %}
                    <a href="#" onclick="document.getElementById('add_book').submit()">Add Book and Review</a>
                </form>

                <form action="/logout" id="logout" method="GET" class="links">
                    {% csrf_token %}
                    <a href="#" onclick="document.getElementById('logout').submit()">Logout</a>
                </form>
            </div>


            <div id="left_half">
                <h3>Recent Book Reviews</h3>
                <br>
                {% for review in recent_reviews %}
                    <hr>
                    <div class="book">
                        <form action="/book_reviews/{{review.book.id}}" id="review_{{review.book.id}}" method="GET" class="links">
                            {% csrf_token %}
                            <a href="#" onclick="document.getElementById('review_{{review.book.id}}').submit()">{{review.book.title}}</a>
                        </form>

                        <div class="review">
                                <p>Rating - {{review.rating}}</p>
                                {% if review.rating == 1 %}
                                    {% load static %} <img src="{% static "images/5_Star_Rating_System_1_star.png" %}" height="20px" alt="1" />
                                {% elif review.rating == 2 %}
                                    {% load static %} <img src="{% static "images/5_Star_Rating_System_2_stars.png" %}" height="20px" alt="2" />
                                {% elif review.rating == 3 %}
                                    {% load static %} <img src="{% static "images/5_Star_Rating_System_3_stars.png" %}" height="20px" alt="3" />
                                {% elif review.rating == 4 %}
                                    {% load static %} <img src="{% static "images/5_Star_Rating_System_4_stars.png" %}" height="20px" alt="4" />
                                {% else %}
                                    {% load static %} <img src="{% static "images/5_Star_Rating_System_5_stars.png" %}" height="20px" alt="5" />
                                {% endif %}

                                <form action="/user/{{review.user.id}}" id="review_user_{{review.user.id}}" method="GET" class="links">
                                    {% csrf_token %}
                                    <a href="#" onclick="document.getElementById('review_user_{{review.user.id}}').submit()">{{review.user.first_name}}</a>
                                </form>
                                <p>{{review.review}}</p>
                                <p>Posted on {{review.created_at}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="right_half">
                <h3>Other Books with Reviews</h3>
                <br>
                {% for book in reviewed_books %}
                    <hr>
                    {% if book.book_reviews.count > 0 %}
                        <div class="book">
                        <form action="/book_reviews/{{book.id}}" id="reviewed_book_{{book.id}}" method="GET" class="links">
                            {% csrf_token %}
                            <a href="#" onclick="document.getElementById('reviewed_book_{{book.id}}').submit()">{{book.title}}</a>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </body>
</html>
