<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        <h3>Weldome to the dojos page</h3>

        <form>
                <p>Please tell me a little about yourself</p>
                <label>
                    Name:<input type="text" name="name">
                </label>
                <label>
                    Email:<input type="text" name="email">
                </label>

                <p>Do you live in the DFW area</p>
                <select name="dfw_resident">
                    <option value="dfw_yes">Yes</option>
                    <option value="dfw_no">No</option>
                </select>

                <p>Please select your favorite sport teams</p>
                <label>
                    <input type="checkbox" name="sportsteam" value="Cowboys">Cowboys
                </label>
                <label>
                    <input type="checkbox" name="sportsteam" value="Mavericks">Mavericks
                </label>
                <label>
                    <input type="checkbox" name="sportsteam" value="Rangers">Rangers
                </label>

                <p>Please select your choice for President</p>
                <label>
                    <input type="radio" name="president" value="Trump">Trump
                </label>
                <label>
                    <input type="radio" name="president" value="Clinton">Clinton
                </label>

                <input type="submit" value="Submit">
            </form>
            
    </body>
</html>
